* {
    --backgroundColor:  #ffac62;
    --bannerColor: white;
    --basicColor: #ff883e;
    --buttonColor: #26547c;
    --categoriesBorderColor: lightgrey;
    --footerFontSize: 15px;
    --linkColor: black;
    --secondBannerColor: whitesmoke;
    --sectionFontSize: 20px;
    --spanFontSize: 16px;
    box-sizing: border-box;
    
}



.categories {
    border-bottom: 1px solid var(--categoriesBorderColor);
    border-top: 1px solid var(--categoriesBorderColor);
    clear: both;
    list-style: none;
    margin-top: 50px;        
}

.categories li {  
    list-style-type:none; 
    padding: 5px 25px;
}

.categories a,
.categories a:link,
.categories a:visited {
    color: var(--linkColor);
    text-decoration: none;
}

.categories a:hover{
    text-decoration: underline;
}

h3 {
    text-align: center;
}

header {
    display: inline-block;
    width: 100%;
}


footer {
    border-top: 1px solid var(--categoriesBorderColor);
    font-size: var(--footerFontSize);
    margin-bottom: 10px;
    margin-top: 20px;
    max-height: 20px;
    padding: 10px;
}

footer span {
    font-style: italic;

}

footer a,
footer a:link,
footer a:visited {
    color: var(--linkColor);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


.firstSection div img {    
    float: right;
    height: 300px;
    margin-right: 50px;
    margin-top: 19px;
    width: 600px;    
}


.firstSection div button {
    background-color: var(--buttonColor);  
    border: none;
    color: var(--bannerColor);
    float: right;
    margin-right: 50px;
    margin-top: 20px; 
    padding: 35px 245px;    
}

.secondSection ul,
.thirdSection ul {    
    display: grid;
    font-size: var(--sectionFontSize);
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin-left: -15px;
    text-align: center;
    width: 100%; 
}

.thirdSection, 
.fifthSection {
    background-color: var(--basicColor);
    color: var(--secondBannerColor);
    padding: 50px;
}

.fourthSection {
    background-color: var(--backgroundColor);
    color: var(--secondBannerColor);
    margin-bottom: 50px;
    padding: 50px;
} 

.fourthSection span,
.fourthSection a,
.fifthSection span,
.fifthSection a,
.sixthSection {
    display: block;
    font-size: var(--sectionFontSize);
    text-align: center;    
}

.navBottom {
    color: var(--bannerColor);
    float: right;
    text-decoration: none;
}


.navTop {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
}

.navTop a,
.navTop a:link,
.navTop a:visited {
    color: var(--linkColor);
    text-decoration: none;
}

.navTop a:hover{
    text-decoration: underline;
}

.navTop button {
    background-color: var(--bannerColor);
    border: 1px solid var(--basicColor);
    color: var(--basicColor);    
    padding: 5px 5px;        
}

.remark {      
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;  
}
.remark img {
    height: 150px;
    width: 150px;    
}

.remark figure {
    width: 150px;
}

.remark figure figcaption span {
    display: block;
} 

.remark figure figcaption p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.reviews {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.reviews figure figcaption span,
.reviews figure figcaption p {
    display: block;
} 

.search {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.slider {
    float: left;
    list-style-type: none;
    margin-right: 20px;    
}

.slider img {
    width: 700px;
}
.slide {
    display: none;
}

.top a {
    float: right;
}

.visible {
    display: block;
}

.menu {
    display: flex;
}
.submenu {
    display: none;
}

.menu li:hover .submenu {
    background-color: var(--bannerColor);
    display: block;
    padding: 0;
    position: absolute;
}

span {
    font-size: var(--spanFontSize);
    text-align: left;    
}



.register {
    background-color: var(--backgroundColor);    
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in;
    z-index: 99999;
 }

 .register:target {
    opacity: 1;
    pointer-events: auto;
 }

 .register > div {
    background: white;
    border-radius: 10px;
    color: black;
    margin: 3% auto;
    padding: 5px 20px 13px 20px;
    position: relative;
    transition: opacity 400ms ease-in;
    width: 400px;
 }
 .close {
    color: darkgrey;
    text-decoration: none;
 }
 .close:hover {
    color: red;
    text-decoration: underline;
 }
 .registerlabel {
    display: inline-block;
    padding: 7px 0;
 }
 .center {
    margin: auto;
    padding: 4px;
    width: 70%;
 }
 .center button {
 left: 44%;
 position: relative;
 }
 
 .center input {
    padding: 5px;
    width: 100%;
 }

 .register input,
 .register select {
    display: block;
 }