* {
    --backgroundColor:  #ffac62;
    --bannerColor: white;
    --basicColor: #ff883e;
    --buttonColor: #26547c;
    --categoriesBorderColor: lightgrey;
    --mediumFontSize: 18px;
    --linkColor: black;
    --secondBannerColor: whitesmoke;
    --bigFontSize: 20px;
    --smallFontSize: 16px;
    --sectionMargin: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: var(--bannerColor);
    border: 1px solid var(--basicColor);
    color: var(--basicColor);    
    padding: 5px 5px;
    margin-left: 10px;        
}
.columns-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}

.columns-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}

.columns-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    padding: 0 30px;
    margin-top: 20px;
}

/************ header ************/

header {
    margin-right: 10px;
    margin-left: 10px;
}

.search {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.categories {
    border-bottom: 1px solid var(--categoriesBorderColor);
    border-top: 1px solid var(--categoriesBorderColor);
    clear: both;
    list-style: none;
    margin-top: 50px;        
}

.categories li {  
    list-style-type:none; 
    padding: 20px 25px;
}

header a,
header a:link,
header a:visited {
    padding-right: 10px;
    color: var(--linkColor);
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.navTop {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: var(--smallFontSize);
}

.menu {
    display: flex;
}
.submenu {
    display: none;
}

.menu li:hover .submenu {
    background-color: var(--bannerColor);
    display: block;
    padding: 0;
    position: absolute;
}


/************ personalized ************/
.personalized img {    
    width: 100%;    
}

.personalized button {
    background-color: var(--buttonColor);  
    border: none;
    color: var(--bannerColor);
    padding: 15px 200px;  
    width: 100%;
    margin-top: 18px;
}

/************ slider ************/
.slider {
    list-style-type: none; 
}

.slider img {
    width: 100%;
}

.slider button {
    display: none;
}

.slide {
    display: none;
}

.visible {
    display: block;
}


/************ values ************/

.values {
    font-size: var(--mediumFontSize); 
    text-align: center;
    margin-top: var(--sectionMargin);
}

.values h2 {
    font-size: var(--mediumFontSize);
}

/************ products ************/

.products h3 {
    text-align: center;
    font-size: var(--bigFontSize);
    margin-top: var(--sectionMargin);
}

.products img {
    width: 100%;    
}

.products article span {
    display: block;
} 

.products article p {
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}


/************ promises ************/

.promises {
    text-align: center;
    background-color: var(--basicColor);
    color: var(--secondBannerColor);
    padding: 80px;
    margin-top: var(--sectionMargin);
}



/************ reviews ************/
.reviews {
    text-align: center;
}
.reviews h3 {
    font-size: var(--bigFontSize);
    margin-top: var(--sectionMargin);
}

.reviews img {
    width: 30%;
    border-radius: 100%;    
}

.reviews article span {
    display: block;
} 

.reviews article p {
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.reviews .columns-3{
    padding: 0 200px;
    grid-column-gap: 100px;
}

/************ sell ************/

.sell {
    background-color: var(--backgroundColor);
    color: var(--secondBannerColor);
    margin-bottom: 50px;
    padding: 80px;
    text-align: center;
    font-size: var(--bigFontSize); 
    margin-top: var(--sectionMargin);
} 

.sell a,
.sell a:link,
.sell a:visited {
    color: var(--secondBannerColor);
    text-decoration: none;
}

.sell a:hover{
    text-decoration: underline;
}

/************ what ************/
.what {
    background-color: var(--basicColor);
    color: var(--secondBannerColor);
    margin: 20px auto;
    padding: 80px;
    text-align: center;
    font-size: var(--bigFontSize); 
}

.what a,
.what a:link,
.what a:visited {
    color: var(--secondBannerColor);
    text-decoration: none;
}

.what a:hover {
    text-decoration: underline;
}

/************ suscribe ************/
.suscribe {
    display: block;
    font-size: var(--bigFontSize);
    text-align: center;    
    margin: 20px auto;
    padding: 80px;
}
.suscribe div {
    margin-top: 35px;
}
/************ footer ************/

footer {
    border-top: 1px solid var(--categoriesBorderColor);
    font-size: var(--smallFontSize);
    margin-bottom: 10px;
    margin-top: 20px;
    max-height: 20px;
    padding: 10px;
}



footer a,
footer a:link,
footer a:visited {
    color: var(--linkColor);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


.navBottom {
    float: right;
    text-align: right;
    font-size: var(--smallFontSize);
}


/************ register ************/
.register {
    background-color: rgba(0,0,0,.5);    
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in;
    z-index: 99999;
 }

 .register h3 {
    text-align: center;
    font-size: var(--bigFontSize);
    padding: 10px 10px 0px 10px;
 }
 .register div {
     margin-top: 10px;
 }

 .register .btn{
     margin-left: 4px;
 }
 .register:target {
    opacity: 1;
    pointer-events: auto;
 }

 .register > div {
    background: white;
    border-radius: 10px;
    color: black;
    margin: 3% auto;
    padding: 5px 20px 13px 20px;
    position: relative;
    transition: opacity 400ms ease-in;
    width: 400px;
 }
 .close {
    color: darkgrey;
    text-decoration: none;
 }
 .close:hover {
    color: var(--basicColor);
    text-decoration: underline;
 }

 .center {
    margin: auto;
    padding: 4px;
 }
 .center button {
 left: 44%;
 position: relative;
 }
 
 .center input {
    padding: 5px;
    width: 100%;
 }

 .register input,
 .register select {
    display: block;
 }

 @media (max-width: 820px) {

    * {
        font-size: var(--smallFontSize);    
    }
    header {
        margin-top: 0;
        display: block;
        width: 100%;
        margin-left: 20px;
    }

    .navTop {
        margin-right: 0;
        float: none;
        text-align: left;
    }
    
    .search {
        margin-left: 0;
        float: none;
    }

    .categories {
        margin-top: 10px;
        display: block;
        width: 100%;
    }

    .menu {
        display: block;
    }

    .personalized button {
        background-color: var(--buttonColor);  
        border: none;
        color: var(--bannerColor);
        padding: 15px 50px;  
        width: 100%;
        margin-top: 18px;
    }

  
    .columns-2 {
        display: block;
        width: 100%;
    }


    .columns-6 {      
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        margin: 0 auto;
    }

    .columns-3 {
        display: block;

    }

    footer {
        margin-top: 0;
        display: block;
        width: 100%;
    }

    .navBottom {
        width: 100%;
        float: none;
        text-align: left;
    }
    


}

@media (max-width: 380px) {
    .columns-6 {      
        display: block;
    }
    .columns-3 {
        display: block;

    }

    .reviews .columns-3 img {
        width: 30%;
        border-radius: 100%;    
    }
    
    .reviews .columns-3 {
        padding: 0;
    }


}
